body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

h1 input {
    font: inherit;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    border: none;
    background: transparent;
    width: 100%;
    max-width: 32rem;
}

h1 input:focus {
    outline: none;
    border-bottom: 1px solid #aaa;
}

table {
    width: 100%;
    border-collapse: collapse;
}
tr.header-row th, tr.departure-row td {
    border-bottom: black solid 2px;
}
th, td {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: left;
    height: 40px;
    vertical-align: top;
}
th {
    background-color: #f2f2f2;
    text-align: center;
}
.morse-code {
    font-family: monospace;
}
input[type="text"], input[type="number"] {
    padding: 2px;
}
input[type="number"] {
    text-align: right;
}

#total-distance, #total-ete {
    text-align: right;
}
#total-row {
    font-weight: bold;
    border-top-width: 5px;
    border-top-style: double;
}
.checkpoint-border {
    border-bottom: 3px solid red;
}

