body {
    margin: 10px;
}

h1 {
    font-size: 12px;
    text-align: center;
}

table {
    width: 100%;
    border: 1px solid #000;
}

th, td {
    border: 1px solid #000;
    padding: 2px;
    font-size: 8px;
}

th {
    background-color: #ccc;
}

input[type="text"], input[type="number"] {
    font-size: 10px;
    padding: 0px;
    border: none;
    background-color: transparent;
}

textarea {
    font-size: 10px;
    padding: 0px;
    border: none;
    background-color: transparent;
    resize: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.ddir {
    width: 7ch;
    font-size: 6px;
}

.ddir input {
    width: 5ch;
    font-size: 6px;
    padding-left: 0px;
    padding-right: 0px;
}

td.name {
    vertical-align: middle;
    padding: 0px;
}

td.name div {
    height: 100%;
    border: 1px solid black;
    background-color: white;
    position: relative;
    top: 27px;
    left: -1px;
    padding: 4px;
}

td.ch input {
    text-decoration: underline;
    font-size: 14px;
}

.no-print,
button {
    display: none;
}

#total-row td {
    font-size: 10px;
}
